<hr />
<div>
    Si cette solution n'a pas pu résoudre ton problème, demandes de l'aide à un collègue.<br />
    Quand la solution est trouvée, tu peux ajouter la solution qui marche au "Wiki connexion quizz" en ajoutant
    un nouveau cas de figure.
</div>